#search-create {
  width: 450px;
  background-color: #f9f9f9;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}
#event-info {
  width: 450px;
}
#chat-section {
  width: calc(100% - 450px);
}
.ant-time-picker {
  width: 100% !important;
}
.ant-time-picker-input {
  border: 1px solid #12b591 !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  width: 100% !important;
  font-size: 16px !important;
  color: #555 !important;
  padding: 10px 16px !important;
  line-height: 1 !important;
  height: auto !important;
}
.ant-time-picker-icon {
  display: none !important;
}
.ant-time-picker-panel-clear-btn {
  display: none !important;
}

#map-block {
  width: calc(100% - 450px);
}

.tabs.nav {
  border-color: #e5e5e5;
}

.tabs.nav .nav-item {
  text-align: center;
}

.tabs.nav .nav-item .nav-link {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  color: #aaa;
  padding: 10px 0;
}

.tabs.nav .nav-item .nav-link.active {
  color: #495057;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-bottom-color: #12b591;
  border-radius: 0px;
}

.tabs.nav .nav-item .nav-link:hover {
  border-radius: 0;
}

.tags {
  margin-top: 25px;
}

.search-result-text {
  font-size: 16px;
  font-weight: 300;
}

.event-list {

}

.event-item {
  margin-top: 20px;
  color: #000;
}

.event-item-name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.event-item-image {
  width:
}

.event-item-image img {
  width: 100%;
}
