html {
  min-height: 100%;
  position: relative;
  background-color: #f9f9f9;
}

*:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button:focus {outline:0 !important;}

body {
  min-height: (100% - 44px);
  /*margin-top: 44px;*/
  padding-top: 44px;
  font-family: 'Ubuntu';
  background-color: #f9f9f9;
}

#content {
  display: flex;
  height: calc(100vh - 44px);
}
#content .page-section {
  max-height: 100%;
  /*overflow: hidden;
  overflow-y: scroll;*/
}

input,
textarea {
  border: 1px solid #12b591;
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  color: #555;
  padding: 10px 16px;
}
textarea {
  resize-x: none;
  min-height: 150px;
}

input:focus,
textarea:focus {
  border-color: #15d8ae;
}

input.input-text {
  border-color: #12b591 !important;
  border-radius: 0 !important;
}

.input-date-group {
  position: relative;
}

.input-date-group input.input-date {
  padding-left: 32px;
}

.input-date-group .input-date-icon {
  position: absolute;
  left: 10px;
  top: 14px;
}

.button {
  text-align: center;
  padding: 10px 15px;
  background-color: #12b591;
  color: #fff;
  border: 1px solid #109678;
  border-radius: 0 !important;
}
.button.button-info {
  /*background-color: #fffd96;*/
}
.button:hover {
  cursor: pointer;
  background-color: #12bc97;
}
.button-fluid {
  width: 100%;
  padding: 15px 20px;
}
.button.disabled {
  background-color: #868e96;
  border-color: #868e96;
}
.button.disabled:hover {
  cursor: crosshair;
  background-color: #868e96;
  border-color: #868e96;
}

.panel {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 10px;
  margin-bottom: 30px;
}

.panel .title {
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  text-align: left;
}

.info {
  background-color: #fffd96;
  padding: 15px;
}

.divider {
  width: 100%;
  background-color: #e5e5e5;
  height: 1px;
  margin: 15px 0;
  overflow: hidden;
}

.divider.gradient {
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(left, #f9f9f9 0%, #12b591 50%, #f9f9f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f9f9f9 0%,#12b591 50%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f9f9f9 0%,#12b591 50%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 */
}

.checkbox label:hover {
  cursor: pointer;
}

.notification-event {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #9f9f9f;
}
.notification-name {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.notification-info-name {
  font-weight: 400;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 2px;
}
